#game-messages{
    text-align: center;
}

#heading {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    padding: .5em;
    margin: .5em;
}

.mole {
    width: 150px;
    height: 150px;
    padding: .5em;
    margin: .5em;
}

#row-1 {
    display: inline-block;
}

#row-2 {
    display: inline-block;
}

#row-3{
    display: inline-block;
}

.score {
    text-align: center;
    display: inline-block;
}
.square {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

.timer {
    text-align: center;
}