#heading {
    text-align: center;
}

#row-1 {
    display: inline-block;
}

#row-2 {
    display: inline-block;
}

#row-3{
    display: inline-block;
}

#sqr-1 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

#sqr-2 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

#sqr-3 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

#sqr-4 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

#sqr-5 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

#sqr-6 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

#sqr-7 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

#sqr-8 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}

#sqr-9 {
    width: 200px;
    height: 200px;
    border: solid 5px black;
    padding: 1em;
    margin: 1em;
}